body{
    font-family: 'Open Sans', sans-serif;
}
i.fa-brands.fa-linkedin.fa-2xl:hover{
color: rgb(34, 244, 244);
}
i.fa-brands.fa-github.fa-2xl:hover{
    color: rgb(9, 9, 237);
    }
i.fa-brands.fa-instagram.fa-2xl:hover{
        color: rgb(242, 181, 192);
        }
i.fa-brands.fa-instagram.fa-2xl,
i.fa-brands.fa-github.fa-2xl,
i.fa-brands.fa-linkedin.fa-2xl,
i.fa-solid.fa-user.fa-2xl,
i.fa-solid.fa-user-lock.fa-2xl{
    color:#fff;
}
i.fa-solid.fa-user.fa-2xl:hover,
i.fa-solid.fa-user-lock.fa-2xl:hover{
            color: rgb(229, 17, 17);
            }
ul.list-group.list-group-horizontal{
    --bs-list-group-bg:transparent;
    --bs-list-group-border-color:transparent;
}

.cara{
    border-radius: 500px;
    height: 200px;
}
.uno{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 65px);
    background-color: #0f1111;
    color: white;
    background-image: url(../img/job.jpg);
    /* padding-top: 10%; */
}
.caja-central{
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    height: 50%;
}
.caja-cara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #030303;
}
.caja-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #F2F2F2;
    color: #303030;
    padding: 10px;
}
.dos{
    background-color: #F2F2F2;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2%;
    padding-right: 30%;
    padding-top: 2%;
}
.titulo{
   padding-left:1rem;
}
.tres{
    background-color: #050505;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2%;
    padding-right: 30%;
    padding-top: 2%;
    color: #F2F2F2;
}